:root{
    --textColor: #242424;
    --textColorLight: #fff;
    --textColorSelection: #242424;

    --siteColorDark: #3e465c;
    --siteColorLight: #f3dfd7;
    --siteColorBasic: #fff;

    --shadowColor: #252525;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

*::selection {
    background: var(--textColorSelection);
}

*:focus {
    outline: 0;
}

article, aside, details, figcaption, figure, img,
footer, header, hgroup, menu, nav, section, main, button{
    display: block;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:active,
a:hover {
    outline: 0;
}

.container,
[class$="-row"],
[class$="-col"]{
    display: flex;
}

.container,
[class$="-col"] {
    flex-direction: column;
}


/*-------------------------------------------------------*/


body {
    height: 100%;
    font-size: 16px;
    line-height: 24px;
    color: var(--textColor);
}

.wrapper{

    background-image: linear-gradient(-28deg, var(--siteColorLight) 6%, var(--siteColorDark) 61%);
    background-attachment: fixed;
}

.container {
    min-height: 100%;
    width: 1230px;
    margin: 0 auto;
    box-shadow: 3px 0 15px var(--shadowColor), -3px 0 15px var(--shadowColor);
    background-color: white;
    padding: 0 15px;
    position: relative;
}

@media (max-width: 1229px) {
    .container {
        width: 100%;
    }
}

.aside-col{
    align-items: center;
    height: 100%;
    width: calc(35% - 30px);
    margin: 0 15px;
    padding: 50px 0;
    background-color: var(--siteColorLight);
    position: absolute;
    top: 0;
    left: 15px;
}

.aside-myPhoto{
    height: 350px;
}

.aside-myPhoto > img{
    max-height: 350px;
    width: 90%;
    object-fit: cover;
    border-radius: 50%;
    border: 10px solid var(--siteColorBasic);
    margin: auto;
}

hr{
    height: 2px;
    width: 100%;
    background-color: var(--textColor);
}

header{
    margin: 0 15px 15px calc(35% + 26px);
    padding: 50px 15px;
    width: calc(65% - 41px);
    background-color: var(--siteColorDark);
    height: 400px;

}

.resume-col{
    flex: 1 0 auto;
    margin: 0 15px 15px calc(35% + 26px);
    padding: 15px;
    width: calc(65% - 41px);
}

footer{
    flex: 0 0 auto;
    margin: 0 15px 15px calc(35% + 26px);
    padding: 15px;
    width: calc(65% - 41px);

}

/*-----------------------------------------------*/

.slider--wrapper{
    width: 100%;
    height: 150px;
    position: relative;
    padding: 0 40px;
    margin: 0;
}

.slider--carousel-wrapper{
    width: calc(100% - 80px);
    height: inherit;
    overflow: hidden;
    position: absolute;
    z-index: 2;

    transition:all .5s ease-out;
}

.slider--carousel{
    width: calc((100% / 3) * 10);
    height: inherit;
    padding: 0;
    margin: 0;

    transition:all .8s cubic-bezier(.77,0,.175,1);
}

.slider--wrapper input{
     display:none
 }

.slider--wrapper>hr{
    border-bottom: 4px solid var(--siteColorDark);
    position: absolute;
    top: calc(50% - 2px);
    left: 0;
    z-index: 1;
}

.slider--slide>img {
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid var(--siteColorDark);
    margin: 0 auto;
    max-height: 100%;
    min-width: 40px;
    height: auto;
}

.slider--slide{
    width: calc(100% / 10);
    padding: 0 2px;
    height: inherit;
    float:left;
}

.slider--pointer{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 40px;
    width: 100%;
}

.slider--pointer label{
    background-color: var(--siteColorDark);

    display: none;
    width: 40px;
    height: inherit;
    border-radius: 50%;
}

.slider--pointer label:hover{
    fill: var(--siteColorLight);
}







#slide1:checked~.slider--pointer label:nth-child(2),
#slide2:checked~.slider--pointer label:nth-child(3),
#slide3:checked~.slider--pointer label:nth-child(4),
#slide4:checked~.slider--pointer label:nth-child(5),
#slide5:checked~.slider--pointer label:nth-child(1){
    display:block;
    float: left;
    margin-right: 0;
}

#slide1:checked~.slider--pointer label:nth-child(5),
#slide2:checked~.slider--pointer label:nth-child(1),
#slide3:checked~.slider--pointer label:nth-child(2),
#slide4:checked~.slider--pointer label:nth-child(3),
#slide5:checked~.slider--pointer label:nth-child(4){
    display:block;
    float: right;
    margin-left: 0;
}




#slide1:checked~ .slider--carousel-wrapper .slider--carousel{
    margin-left:0;
}

#slide2:checked~.slider--carousel-wrapper .slider--carousel{
    /*margin-left: -100%;*/
    margin-left: calc((100% / 3) * (-1));
}

#slide3:checked~.slider--carousel-wrapper .slider--carousel{
    /*margin-left: -200%;*/
    margin-left: calc((100% / 3) * (-2));
}

#slide4:checked~.slider--carousel-wrapper .slider--carousel{
     margin-left: calc((100% / 3) * (-3));
}

#slide5:checked~.slider--carousel-wrapper .slider--carousel{
   /*margin-left: -400%;*/
     margin-left: calc((100% / 3) * (-4));
}

#slide6:checked~.slider--carousel-wrapper .slider--carousel{
    /*margin-left: -500%;*/
    margin-left: calc((100% / 3) * (-5));
}

#slide7:checked~.slider--carousel-wrapper .slider--carousel{
    /*margin-left: -600%;*/
    margin-left: calc((100% / 3) * (-6));
}

#slide8:checked~.slider--carousel-wrapper .slider--carousel{
    /*margin-left: -700%;*/
    margin-left: calc((100% / 3) * (-7));
}

