:root{
    --textColor: #242424;
    --textColorLight: #fff;
    --textColorSelection: #242424;

    --siteColorDark: #3e465c;
    --siteColorLight: #f3dfd7;
    --siteColorBasic: #fff;

    --shadowColor: #252525;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

*::selection {
    background: var(--textColorSelection);
}

*:focus {
    outline: 0;
}

article, aside, details, figcaption, figure, img,
footer, header, hgroup, menu, nav, section, main, button{
    display: block;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:active,
a:hover {
    outline: 0;
}

.container,
[class$="-row"],
[class$="-col"]{
    display: flex;
}

.container,
[class$="-col"] {
    flex-direction: column;
}


/*-------------------------------------------------------*/


body {
    height: 100%;
    font-size: 16px;
    line-height: 24px;
    color: var(--textColor);
}

.wrapper{

    background-image: linear-gradient(-28deg, var(--siteColorLight) 6%, var(--siteColorDark) 61%);
    background-attachment: fixed;
}

.container {
    min-height: 100%;
    width: 1230px;
    margin: 0 auto;
    box-shadow: 3px 0 15px var(--shadowColor), -3px 0 15px var(--shadowColor);
    background-color: white;
    padding: 0 15px;
    position: relative;
}

@media (max-width: 1229px) {
    .container {
        width: 100%;
    }
}

.aside-col{
    align-items: center;
    height: 100%;
    width: calc(35% - 30px);
    margin: 0 15px;
    padding: 50px 0;
    background-color: var(--siteColorLight);
    position: absolute;
    top: 0;
    left: 15px;
}

.aside-myPhoto{
    height: 350px;
}

.aside-myPhoto > img{
    max-height: 350px;
    width: 90%;
    object-fit: cover;
    border-radius: 175px;
    border: 10px solid var(--siteColorBasic);
    margin: auto;
}

hr{
    height: 2px;
    width: 100%;
    background-color: var(--textColor);
}

header{
    margin: 0 15px 15px calc(35% + 26px);
    padding: 50px 15px;
    width: calc(65% - 41px);
    background-color: var(--siteColorDark);
    height: 400px;

}

.resume-col{
    flex: 1 0 auto;
    margin: 0 15px 15px calc(35% + 26px);
    padding: 15px;
    width: calc(65% - 41px);
}

footer{
    flex: 0 0 auto;
    margin: 0 15px 15px calc(35% + 26px);
    padding: 15px;
    width: calc(65% - 41px);

}

/*-----------------------------------------------*/

.slider--wrapper{
    width: 100%;
    height: 150px;
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.slider--wrapper>hr{
    border-bottom: 4px solid var(--siteColorDark);
    margin: 73px 10px;
}

.slider-slide img {
    /*display: none;*/
    object-fit: cover;
    border-radius: 75px;
    border: 5px solid var(--siteColorDark);
    margin: 0 auto;
    max-height: 100%;
    min-width: 40px;
    height: auto;
}

.slider-slide{
    position: absolute;
    top: 0;
    left: 42px;
    margin: 0 5px;
    width: calc(33% - (50px/3));
    height: inherit;
}


.block {
    display: block;
}

[class^="slider--pointer"]{
    position: absolute;
    top: 55px;
    border-radius: 20px;
    background-color: var(--siteColorDark);
    height: 40px;
    width: 40px;
}

[class^="slider--pointer"]>svg{
    height: 32px;
    width: 32px;
    fill: var(--siteColorBasic);
    top: 4px;
    left: 4px;

}

.slider--pointer-left{
    left: 0;
}

.slider--pointer-right{
    right: 0;
}



